body {
    margin: 0;
    font-family: "Rye", serif;
    text-align: center;
    background-color: black;
    color: white;
}
.portada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
.logo {
    width: 350px;
    margin-bottom: 20px;
}

.contenido {
    display: none;
    padding: 20px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.plato {
    background: black;
    /*border: 1px solid #857650;*/
    border-radius: 8px;
    
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    -webkit-text-fill-color: #857650;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer; /* Change cursor to pointer */
}
.plato:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.plato-info{
    display: none; /* Hide dish information by default */
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
.cortina {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, black 20%, darkred);
    transition: transform 2s ease-in-out;
}
.cortina.izquierda {
    left: 0;
}
.cortina.derecha {
    right: 0;
}
.abierta-izquierda {
    transform: translateX(-100%);
}
.abierta-derecha {
    transform: translateX(100%);
}
.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.portada .logo {
    position: relative;
    top: -50px;
    max-width: 600px;
    z-index: 3;
}
.contenido .logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    z-index: 3;
}
.portada .texto {
    position: absolute;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #857650;
    top: 75px;
    font-size: 100px;
    font-family: "Rye", serif;
    font-weight: bold;
    color: black;
    z-index: 4;
    text-align: center;
}
.portada .texto1 {
    position: absolute;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #857650;
    top: 175px;
    font-size: 100px;
    font-family: "Rye", serif;
    font-weight: bold;
    color: black;
    z-index: 4;
    text-align: center;
}
.boton {
    position: relative;
    z-index: 2;
    padding: 20px 30px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    background: #857650;
    border: 1px;
    border-color: white;
    border-radius: 50px ;
    cursor: pointer;
}
.text{
    position: center;
    top: 150px;
    font-size: 50px;
    font-family: "Rye", serif;
    color: #857650;
    z-index: 4;
    text-align: center ;
}
.text1{
    background-color: #857650;
    background-size: 3px;
    border-radius: 25px;
    position: center;
    top: 100px;
    font-size: 25px;
    font-family: "Rye", serif;
    color: black;
    z-index: 4;
    text-align: center ;
}
.text2{
    background-color: #857650;
    background-size: 15px;
    border-radius: 25px;
    position: center;
    top: 300px;
    font-size: 25px;
    font-family: "Rye", serif;
    color: black;
    z-index: 4;
    text-align: center ;
}
.text3{
    background-color: #857650;
    background-size: 15px;
    border-radius: 25px;
    position: center;
    top: 500px;
    font-size: 25px;
    font-family: "Rye", serif;
    color: black;
    z-index: 4;
    text-align: center ;
}
/*.doto {
    font-family: "Rye", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
  }
  */